<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
	<!--title-->
  <title>About Us</title>
	<!--CSS-->
  <link href="/../css/bootstrap.min.css" rel="stylesheet">
  <link href="/../css/style.css" rel="stylesheet">
<!-- 	<!--Google Fonts-->
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/../images/favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head><!--/head-->
<body>

  <div id="home-section" class="image-bg">

    <div id="o-wrapper" class="o-wrapper">
      <button id="c-button--slide-left" class="c-button"><img src="/../images/logo.png" class="c-button-img">MENU</button>
      <div class="rightlogin">
        <a href="/login">LOG IN</a>
        <a href="/signup">SIGN UP</a>
      </div>
  	</div><!-- /o-wrapper -->

    <nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
      <div class="close-login">
        <button class="c-menu_close">&#10005;</button>
        <a href="/login" class="nav-login">LOG IN</a>
      </div>
    <div class="nav-signup-div">
      <a href="/signup" class="nav-signup">SIGN UP</a>
    </div>
    	<ul class="c-menu__items">
    	  <li class="c-menu__item nav-border-top"><a href="/" class="c-menu__link">HOME</a></li>
        <li class="c-menu__item"><a href="/about" class="c-menu__link">ABOUT US</a></li>
    	  <li class="c-menu__item"><a href="/events" class="c-menu__link">EVENTS</a></li>
    	  <li class="c-menu__item"><a href="/events/create" class="c-menu__link">CREATE AN EVENT</a></li>
    	  <li class="c-menu__item"><a href="/freelancers" class="c-menu__link">FREELANCERS</a></li>
    	  <li class="c-menu__item"><a href="/freelancers/signup" class="c-menu__link">BE A FREELANCER</a></li>
    	  <li class="c-menu__item nav-border-bottom"><a href="#" class="c-menu__link">SETTINGS</a></li>
    	</ul>
      <div class="nav-image">
        <img src="../images/RC_Topbanner.png">
      </div>
    </nav><!-- /c-menu slide-left -->

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->

    <div class="container-fluid create-event">

      <div class="create-event">
      <h1>Welcome to RaveCrate</h1>
      <br>
      <div style="width: 50vw; text-align: center; margin: auto; font-size: 18px; border: 5px solid black; padding: 10px;">
      <p>The next evolution of the party scene – a one-stop solution for all things Events. Frustrated with the lack of awareness and accessibility to information surrounding local events, the company's founders realized that something was needed, something that would serve to bring people together easily and in real time. That something is RaveCrate, and it's being rolled out now.</p>
      <p>The way the platform works is remarkably simple: Event Organizers create their event on our website – a rave, a pool party, or anything else one can possibly think of. All one has to do is simply provide a few basic details, such as location, time, and ticket price (if applicable) and voila, they have created an event on RaveCrate.com! Our platform allows event organizers to reach all parties involved – event seekers, entertainers, sponsors, etc – and through that process all parties can connect and benefit. Event organizers gain a cost-effective way to promote their events to a larger audience, sponsors get large-scale exposure, and event seekers never have to miss an event again.</p>
      <p> However, the benefits aren't just for the organizers and attendees. RaveCrate also offers opportunities for entertainers, such as dancers, singers, DJs, musicians, etc. RaveCrate provides organizers access to a large pool of talent, and connects that talent with opportunity. By streamlining the process we seek to create a hub of everything events. We take pride in helping people connect – for work and for play.</p>
      <p> RaveCrate will also be releasing a mobile application. This means organizers, entertainers, and event seekers will always have RaveCrate at their fingertips. The app has been specially designed for the event seeker who is already out on the town but wants access to information on nearby local events. All they have to do is through a little tech magic RaveCrate will find and recommend nearby events.</p>
      <p>So join the RaveCrate Revolution, and let us help get you connected.</p>
      <p>- Johnny</p>
    </div>
      </div>
      <br>

    </div>
    <footer>
  		<div class="footer-links">
        <div class="row">
          <div class="col-md-1"></div>
  				<div class="col-md-1"></div>
  				<div class="col-md-1"><a href="/signup">signup</a></div>
  				<div class="col-md-1"><a href="/login">login</a></div>
  				<div class="col-md-1"><a href="/freelancers">freelancer</a></div>
  				<div class="col-md-1"><a href="/events">events</a></div>
  				<div class="col-md-1"><a href="/contact">contact us</a></div>
  				<div class="col-md-1"><a href="/comingsoon">terms</a></div>
  				<div class="col-md-1"><a href="/comingsoon">poicies</a></div>
  				<div class="col-md-1"><a href="/about">about us</a></div>
          <div class="col-md-1"></div>
  				<div class="col-md-1"></div>
  			</div>
  		</div>
  		<div class="row bottom-footer">
  			<div class="copyright col-md-6">
  				<h4>&copy; Copyright 2016 RaveCrate.</h4>
  			</div>
  			<div class="social-media col-md-6">
  				<a href="http://www.facebook.com/ravecrate"><i class="fa fa-facebook fa-2x"></i></a>
  				<a href="http://www.instagram.com/ravecrate"><i class="fa fa-instagram fa-2x"></i></a>
  				<a href="http://www.twitter.com/ravecrate"><i class="fa fa-twitter fa-2x"></i></a>
  				<a href="http://www.linkedin.com/ravecrate"><i class="fa fa-linkedin fa-2x"></i></a>
  			</div>
  		</div>
  	</footer>

		<!--/#scripts-->
	  <script type="text/javascript" src="/../js/jquery.js"></script>
	  <script type="text/javascript" src="/../js/bootstrap.min.js"></script>
	  <script type="text/javascript" src="/../js/jquery.magnific-popup.min.js"></script>
	  <script type="text/javascript" src="/../js/jquery.nav.js"></script>
	  <script type="text/javascript" src="/../js/canvas.js"></script>
	  <!-- <script type="text/javascript" src="/../js/preloader.js"></script> -->
	  <script type="text/javascript" src="/../js/owl.carousel.min.js"></script>
	  <script type="text/javascript" src="/../js/wow.min.js"></script>
	  <script type="text/javascript" src="/../js/main.js"></script>
	  <script>
	    // close = document.getElementById("close");
	    // close.addEventListener('click', function() {
	    // note = document.getElementById("note");
	    // note.style.display = 'none';
	    // }, false);
	  </script>
	  <script src="/../js/menu.js"></script>
	  <script>
	    var slideLeft = new Menu({
	    wrapper: '#o-wrapper',
	    type: 'slide-left',
	    menuOpenerClass: '.c-button',
	    maskId: '#c-mask'
	    });

	    var slideLeftBtn = document.querySelector('#c-button--slide-left');

	    slideLeftBtn.addEventListener('click', function(e) {
	    e.preventDefault;
	    slideLeft.open();
	    });

	  </script>

	</body>
	</html>
