<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>RaveCrate</title>

	<link href="/../css/bootstrap.min.css" rel="stylesheet">
	<link href="/../css/style.css" rel="stylesheet">

	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/../images/favicon.ico" type="image/x-icon">

	<link rel="icon" href="/../images/favicon.ico" type="image/x-icon">

</head><!--/head-->
<body>
	<div id="o-wrapper" class="o-wrapper">
		<button id="c-button--slide-left" class="c-button"><img src="/../images/logo.png" class="c-button-img">MENU</button>
		<div class="rightlogin">
		<a href="login.html">LOG IN</a>
		<a href="signup.html">SIGN UP</a>
		</div>
	</div><!-- /o-wrapper -->

	<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
		<div class="close-login">
			<button class="c-menu_close">&#10005;</button>
			<a href="login.html" class="nav-login">LOG IN</a>
		</div>
		<div class="nav-signup-div">
			<a href="signup.html" class="nav-signup">SIGN UP</a>
		</div>
		<ul class="c-menu__items">
      <li class="c-menu__item nav-border-top"><a href="index.html" class="c-menu__link">HOME</a></li>
      <li class="c-menu__item"><a href="about.html" class="c-menu__link">ABOUT US</a></li>
      <li class="c-menu__item"><a href="events.html" class="c-menu__link">EVENTS</a></li>
      <li class="c-menu__item"><a href="createevents.html" class="c-menu__link">CREATE AN EVENT</a></li>
      <li class="c-menu__item"><a href="freelancer.html" class="c-menu__link">FREELANCERS</a></li>
      <li class="c-menu__item"><a href="createfreelancer.html" class="c-menu__link">BE A FREELANCER</a></li>
      <li class="c-menu__item nav-border-bottom"><a href="comingsoon.html" class="c-menu__link">SETTINGS</a></li>
		</ul>
		<div class="nav-image">
			<img src="/../images/RC_Topbanner.png">
		</div>
	</nav><!-- /c-menu slide-left -->
	<div id="c-mask" class="c-mask"></div><!-- /c-mask -->

  <div class="container-fluid create-event">
    <div style="margin: auto;
    width: 20%;">
      <img src="/../images/logo.png" alt="" />
    </div>
    <br>
    <h1 style="text-align: center;">THIS PAGE IS COMING SOON!</h1>
    <br>
    <br>
  </div>

	<footer>
		<div class="footer-links">
			<div class="row">
				<div class="col-md-1"><a href="signup.html">signup</a></div>
				<div class="col-md-1"><a href="login.html">login</a></div>
				<div class="col-md-1"><a href="eventplanner.html">eventplanner</a></div>
				<div class="col-md-1"><a href="freelancer.html">freelancer</a></div>
				<div class="col-md-1"><a href="comingsoon.html">icons</a></div>
				<div class="col-md-1"><a href="comingsoon.html">peoples</a></div>
				<div class="col-md-1"><a href="events.html">events</a></div>
				<div class="col-md-1"><a href="comingsoon.html">contact us</a></div>
				<div class="col-md-1"><a href="comingsoon.html">terms</a></div>
				<div class="col-md-1"><a href="comingsoon.html">find a city</a></div>
				<div class="col-md-1"><a href="about.html">about us</a></div>
				<div class="col-md-1"><a href="comingsoon.html">careers</a></div>
			</div>
		</div>
		<div class="row bottom-footer">
			<div class="copyright col-md-6">
				<p>&copy; Copyright 2016 RaveCrate.</p>
			</div>
			<div class="social-media col-md-6">
				<a href="http://www.facebook.com/ravecrate"><i class="fa fa-facebook fa-2x"></i></a>
				<a href="http://www.instagram.com/ravecrate"><i class="fa fa-instagram fa-2x"></i></a>
				<a href="http://www.twitter.com/ravecrate"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="http://www.linkedin.com/ravecrate"><i class="fa fa-linkedin fa-2x"></i></a>
			</div>
		</div>
	</footer>
<!--/footer>

	<!--/#scripts-->
	<script type="text/javascript" src="/../js/jquery.js"></script>
	<script type="text/javascript" src="/../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/../js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/../js/jquery.nav.js"></script>
	<script type="text/javascript" src="/../js/canvas.js"></script>
	<!-- <script type="text/javascript" src="/../js/preloader.js"></script> -->
	<script type="text/javascript" src="/../js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/../js/wow.min.js"></script>
	<script type="text/javascript" src="/../js/main.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>
		close = document.getElementById("close");
		// close.addEventListener('click', function() {
		// note = document.getElementById("note");
		// note.style.display = 'none';
		// }, false);
		</script>
		<script src="/../js/menu.js"></script>
		<script>
		var slideLeft = new Menu({
		wrapper: '#o-wrapper',
		type: 'slide-left',
		menuOpenerClass: '.c-button',
		maskId: '#c-mask'
		});

		var slideLeftBtn = document.querySelector('#c-button--slide-left');

		slideLeftBtn.addEventListener('click', function(e) {
		e.preventDefault;
		slideLeft.open();
		});
	</script>
</body>
</html>
