<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
	<!--title-->
  <title>RaveCrate</title>
	<!--CSS-->
  <link href="/../css/bootstrap.min.css" rel="stylesheet">
  <link href="/../css/style.css" rel="stylesheet">
<!-- 	<!--Google Fonts-->
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/../images/favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head><!--/head-->
<body>

  <div id="home-section" class="image-bg">

    <div id="o-wrapper" class="o-wrapper">
      <button id="c-button--slide-left" class="c-button"><img src="/../images/logo.png" class="c-button-img">MENU</button>
      <div class="rightlogin">
        <a href="/login">LOG IN</a>
        <a href="/signup">SIGN UP</a>
      </div>
  	</div><!-- /o-wrapper -->

    <nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
      <div class="close-login">
        <button class="c-menu_close">&#10005;</button>
        <a href="/login" class="nav-login">LOG IN</a>
      </div>
    <div class="nav-signup-div">
      <a href="/signup" class="nav-signup">SIGN UP</a>
    </div>
    	<ul class="c-menu__items">
    	  <li class="c-menu__item nav-border-top"><a href="/" class="c-menu__link">HOME</a></li>
        <li class="c-menu__item"><a href="/about" class="c-menu__link">ABOUT US</a></li>
    	  <li class="c-menu__item"><a href="/events" class="c-menu__link">EVENTS</a></li>
    	  <li class="c-menu__item"><a href="/events/create" class="c-menu__link">CREATE AN EVENT</a></li>
    	  <li class="c-menu__item"><a href="/freelancers" class="c-menu__link">FREELANCERS</a></li>
    	  <li class="c-menu__item"><a href="/freelancers/signup" class="c-menu__link">BE A FREELANCER</a></li>
    	  <li class="c-menu__item nav-border-bottom"><a href="#" class="c-menu__link">SETTINGS</a></li>
    	</ul>
      <div class="nav-image">
        <img src="../images/RC_Topbanner.png">
      </div>
    </nav><!-- /c-menu slide-left -->

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->

    <div class="container-fluid create-event">

      <h1>Create An Event</h1>

      <br>
      <br>

      <form>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Name of Event</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="event-name" placeholder="Event name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Event Venue</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="event-venue" placeholder="Event venue">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Event Host</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="event-host" placeholder="Event hosted by">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Address</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="event-address" placeholder="Address">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">City</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="event-city" placeholder="City">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">State</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="event-state" placeholder="State">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Zip Code</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="event-zip-code" placeholder="Zip Code">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Month</label>
          <div class="col-sm-5">
            <select class="form-control" id="event-month">
              <option>JAN</option>
              <option>FEB</option>
              <option>MAR</option>
              <option>APR</option>
              <option>MAY</option>
              <option>JUN</option>
              <option>JUL</option>
              <option>AUG</option>
              <option>SEP</option>
              <option>OCT</option>
              <option>NOV</option>
              <option>DEC</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Day</label>
          <div class="col-sm-5">
            <select class="form-control" id="event-day">
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Year</label>
          <div class="col-sm-5">
            <select class="form-control" id="event-year">
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Start Time</label>
          <div class="col-sm-5">
            <select class="form-control" id="event-hour">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Minute</label>
          <div class="col-sm-5">
            <select class="form-control" id="event-minute">
              <option>00</option>
              <option>05</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
              <option>35</option>
              <option>30</option>
              <option>35</option>
              <option>40</option>
              <option>45</option>
              <option>50</option>
              <option>55</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">AM/PM</label>
          <div class="col-sm-5">
            <select class="form-control" id="am-pm">
              <option>AM</option>
              <option>PM</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Description</label>
          <div class="col-sm-5">
            <textarea class="form-control" id="event-description" rows="3" placeholder="Please provide a brief description of your event"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Type of Event</label>
          <div class="col-sm-5">
            <select class="form-control" id="event-type">
              <option>Public</option>
              <option>Private</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Fee</label>
          <div class="col-sm-5">
            <input type="email" class="form-control" id="event-fee" placeholder="Please state the price to attend the event">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Contact Phone</label>
          <div class="col-sm-5">
            <input type="email" class="form-control" id="event-phone" placeholder="Contact Phone">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Email</label>
          <div class="col-sm-5">
            <input type="email" class="form-control" id="event-email" placeholder="Contact Email">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-offset-2 col-sm-2 form-control-label">Add Image</label>
          <div class="col-sm-5">
            <input type="file" class="form-control-file" id="exampleInputFile">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="create-event">Submit</button>
      </form>
      <br>
      <p class="loading"></p>
      <br>
      <br>

    </div>
    <footer>
  		<div class="footer-links">
        <div class="row">
          <div class="col-md-1"></div>
  				<div class="col-md-1"></div>
  				<div class="col-md-1"><a href="/signup">signup</a></div>
  				<div class="col-md-1"><a href="/login">login</a></div>
  				<div class="col-md-1"><a href="/freelancers">freelancer</a></div>
  				<div class="col-md-1"><a href="/events">events</a></div>
  				<div class="col-md-1"><a href="/contact">contact us</a></div>
  				<div class="col-md-1"><a href="/comingsoon">terms</a></div>
  				<div class="col-md-1"><a href="/comingsoon">poicies</a></div>
  				<div class="col-md-1"><a href="/about">about us</a></div>
          <div class="col-md-1"></div>
  				<div class="col-md-1"></div>
  			</div>
  		</div>
  		<div class="row bottom-footer">
  			<div class="copyright col-md-6">
  				<h4>&copy; Copyright 2016 RaveCrate.</h4>
  			</div>
  			<div class="social-media col-md-6">
  				<a href="http://www.facebook.com/ravecrate"><i class="fa fa-facebook fa-2x"></i></a>
  				<a href="http://www.instagram.com/ravecrate"><i class="fa fa-instagram fa-2x"></i></a>
  				<a href="http://www.twitter.com/ravecrate"><i class="fa fa-twitter fa-2x"></i></a>
  				<a href="http://www.linkedin.com/ravecrate"><i class="fa fa-linkedin fa-2x"></i></a>
  			</div>
  		</div>
  	</footer>

		<!--/#scripts-->
	  <script type="text/javascript" src="/../js/jquery.js"></script>
	  <script type="text/javascript" src="/../js/bootstrap.min.js"></script>
	  <script type="text/javascript" src="/../js/jquery.magnific-popup.min.js"></script>
	  <script type="text/javascript" src="/../js/jquery.nav.js"></script>
	  <script type="text/javascript" src="/../js/canvas.js"></script>
	  <!-- <script type="text/javascript" src="/../js/preloader.js"></script> -->
	  <script type="text/javascript" src="/../js/owl.carousel.min.js"></script>
	  <script type="text/javascript" src="/../js/wow.min.js"></script>
	  <script type="text/javascript" src="/../js/main.js"></script>
	  <script>
	    // close = document.getElementById("close");
	    // close.addEventListener('click', function() {
	    // note = document.getElementById("note");
	    // note.style.display = 'none';
	    // }, false);
	  </script>
	  <script src="/../js/menu.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_TdCN1ceEGZYnSw0wiTG5KcfU8jLdPfI"></script>
	  <script>
	    var slideLeft = new Menu({
	    wrapper: '#o-wrapper',
	    type: 'slide-left',
	    menuOpenerClass: '.c-button',
	    maskId: '#c-mask'
	    });

	    var slideLeftBtn = document.querySelector('#c-button--slide-left');

	    slideLeftBtn.addEventListener('click', function(e) {
	    e.preventDefault;
	    slideLeft.open();
	    });

	  </script>
    <script type="text/javascript">
    $('#create-event').on('click', function(e) {

      e.preventDefault();

      $('.loading').append('Please Wait...');

      var eventAddress = $('#event-address').val();
      var eventCity = $('#event-city').val();
      var eventState = $('#event-state').val();
      var eventZipCode = $('#event-zip-code').val();

      // Convert the listed variables into the proper format to query Google Maps Geocoder
      var geocoderAddress = eventAddress + ", " + eventCity + " " + eventState + " " + eventZipCode;

      var geocoder = new google.maps.Geocoder();

      var coordinates = [];

      geocoder.geocode({'address': geocoderAddress}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var latlng = {};
          latlng.getLatitude = results[0].geometry.location.lat();
          latlng.getLongitude = results[0].geometry.location.lng();
          coordinates.push({latitude: latlng.getLatitude, longitude: latlng.getLongitude});
        } else {
          window.alert('Google Maps was unable to locate your address.\nThe error code is: ' + status + '.\nPlease reload the page and resubmit the form with a valid address.');
        }
      });

      setTimeout(function() {
        var eventName = $('#event-name').val();
        var eventVenue = $('#event-venue').val();
        var eventHost = $('#event-host').val();
        var eventMonth = $('#event-month').val();
        var eventDay = $('#event-day').val();
        var eventYear = $('#event-year').val();
        var eventHour = $('#event-hour').val();
        var eventMinute = $('#event-minute').val();
        var eventAmPm = $('#am-pm').val();
        var eventDescription = $('#event-description').val();
        var eventType = $('#event-type').val();
        var eventFee = $('#event-fee').val();
        var eventPhone = $('#event-phone').val();
        var eventEmail = $('#event-email').val();

        // if statement to convert
        if (eventMonth == 'JAN') {
          var eventMonthNumerical = '01';
        } else if (eventMonth == 'FEB') {
          eventMonthNumerical = '02';
        } else if (eventMonth == 'MAR') {
          eventMonthNumerical = '03';
        } else if (eventMonth == 'APR') {
          eventMonthNumerical = '04';
        } else if (eventMonth == 'MAY') {
          eventMonthNumerical = '05';
        } else if (eventMonth == 'JUN') {
          eventMonthNumerical = '06';
        } else if (eventMonth == 'JUL') {
          eventMonthNumerical = '07';
        } else if (eventMonth == 'AUG') {
          eventMonthNumerical = '08';
        } else if (eventMonth == 'SEP') {
          eventMonthNumerical = '09';
        } else if (eventMonth == 'OCT') {
          eventMonthNumerical = '10';
        } else if (eventMonth == 'NOV') {
          eventMonthNumerical = '11';
        } else if (eventMonth == 'DEC') {
          eventMonthNumerical = '12'
        } else {
          window.alert('Please select a valid month.')
        };

        // if statement to convert 12-hour clock to military time
        if (eventHour == 1 && eventAmPm == 'AM') {
          var eventTime = '01:' + eventMinute + ':00';
        } else if (eventHour == 2 && eventAmPm == 'AM') {
          eventTime = '02:' + eventMinute + ':00';
        } else if (eventHour == 3 && eventAmPm == 'AM') {
          eventTime = '03:' + eventMinute + ':00';
        } else if (eventHour == 4 && eventAmPm == 'AM') {
          eventTime = '04:' + eventMinute + ':00';
        } else if (eventHour == 5 && eventAmPm == 'AM') {
          eventTime = '05:' + eventMinute + ':00';
        } else if (eventHour == 6 && eventAmPm == 'AM') {
          eventTime = '06:' + eventMinute + ':00';
        } else if (eventHour == 7 && eventAmPm == 'AM') {
          eventTime = '07:' + eventMinute + ':00';
        } else if (eventHour == 8 && eventAmPm == 'AM') {
          eventTime = '08:' + eventMinute + ':00';
        } else if (eventHour == 9 && eventAmPm == 'AM') {
          eventTime = '09:' + eventMinute + ':00';
        } else if (eventHour == 10 && eventAmPm == 'AM') {
          eventTime = '10:' + eventMinute + ':00';
        } else if (eventHour == 11 && eventAmPm == 'AM') {
          eventTime = '11:' + eventMinute + ':00';
        } else if (eventHour == 12 && eventAmPm == 'AM') {
          eventTime = '00:' + eventMinute + ':00';
        }

        else if (eventHour == 12 && eventAmPm == 'PM') {
          eventTime = '12:' + eventMinute + ':00';
        } else if (eventHour == 1 && eventAmPm == 'PM') {
          eventTime = '13:' + eventMinute + ':00';
        } else if (eventHour == 2 && eventAmPm == 'PM') {
          eventTime = '14:' + eventMinute + ':00';
        } else if (eventHour == 3 && eventAmPm == 'PM') {
          eventTime = '15:' + eventMinute + ':00';
        } else if (eventHour == 4 && eventAmPm == 'PM') {
          eventTime = '16:' + eventMinute + ':00';
        } else if (eventHour == 5 && eventAmPm == 'PM') {
          eventTime = '17:' + eventMinute + ':00';
        } else if (eventHour == 6 && eventAmPm == 'PM') {
          eventTime = '18:' + eventMinute + ':00';
        } else if (eventHour == 7 && eventAmPm == 'PM') {
          eventTime = '19:' + eventMinute + ':00';
        } else if (eventHour == 8 && eventAmPm == 'PM') {
          eventTime = '20:' + eventMinute + ':00';
        } else if (eventHour == 9 && eventAmPm == 'PM') {
          eventTime = '21:' + eventMinute + ':00';
        } else if (eventHour == 10 && eventAmPm == 'PM') {
          eventTime = '22:' + eventMinute + ':00';
        } else if (eventHour == 11 && eventAmPm == 'PM') {
          eventTime = '23:' + eventMinute + ':00';
        } else {
          window.alert('Please select a valid time.');
        };

        // final date/time to be sent to back end for event_date
        var eventStartTime = eventYear + '-' + eventMonthNumerical + '-' + eventDay + ' ' + eventTime;

        $.ajax({
          url: "http://52.41.16.214:8080/api/v2/addEvent",
          method: "POST",
          crossDomain: true,
          contentType: "application/x-www-form-urlencoded; charset=utf-8",
          dataType: 'json',
          data: {event_title: eventName, event_location: eventVenue, event_host: eventHost, contact_address: eventAddress, contact_city: eventCity, contact_state: eventState, contact_post_code: eventZipCode, latitude: coordinates[0].latitude, longitude: coordinates[0].longitude, event_date: eventStartTime, event_description: eventDescription, event_type: eventType, event_Fee: eventFee, contact_phone: eventPhone, contact_email: eventEmail, contact_name: "John", user_id: 1},
          beforeSend: function (xhr) {
            xhr.setRequestHeader ("Authorization", "Basic ZGV2ZWxvcGVyLXNpZDpzcGFycm93OA==");
          },
          success: function(data) {
            console.log(JSON.stringify(data));
            console.log(eventStartTime);
            console.log("Event created!");
            if (data.status == 'error') {
              for (var i = 0; i < data.response.length; i++) {
                console.log(data.response[i].error);
                $('.loading').replaceWith('There was an error when you submitted the form. Please reload the page and fill the form out again.');
              }

            } else {
              $('.loading').replaceWith('Event successfully created! Please <a href="events.html">CLICK HERE</a> to see your newly created event as well as other events created with RaveCrate!');
            }
          }
        });

      }, 2500);
    });
    </script>
    </script>
	</body>
	</html>
