<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>RaveCrate</title>

	<link href="/../css/bootstrap.min.css" rel="stylesheet">
	<link href="/../css/style.css" rel="stylesheet">

	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/../images/favicon.ico" type="image/x-icon">

	<link rel="icon" href="/../images/favicon.ico" type="image/x-icon">

</head><!--/head-->

<body class="login-body" ng-app="myApp">
	<div id="o-wrapper" class="o-wrapper">
		<button id="c-button--slide-left" class="c-button"><img src="/../images/logo.png" class="c-button-img">MENU</button>
		<div class="rightlogin">
			<a href="/login">LOG IN</a>
			<a href="/signup">SIGN UP</a>
		</div>
	</div><!-- /o-wrapper -->

	<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
		<div class="close-login">
			<button class="c-menu_close">&#10005;</button>
			<a href="/login" class="nav-login">LOG IN</a>
		</div>
	<div class="nav-signup-div">
		<a href="/signup" class="nav-signup">SIGN UP</a>
	</div>
		<ul class="c-menu__items">
			<li class="c-menu__item nav-border-top"><a href="/" class="c-menu__link">HOME</a></li>
			<li class="c-menu__item"><a href="/about" class="c-menu__link">ABOUT US</a></li>
			<li class="c-menu__item"><a href="/events" class="c-menu__link">EVENTS</a></li>
			<li class="c-menu__item"><a href="/events/create" class="c-menu__link">CREATE AN EVENT</a></li>
			<li class="c-menu__item"><a href="/freelancers" class="c-menu__link">FREELANCERS</a></li>
			<li class="c-menu__item"><a href="/freelancers/signup" class="c-menu__link">BE A FREELANCER</a></li>
			<li class="c-menu__item nav-border-bottom"><a href="#" class="c-menu__link">SETTINGS</a></li>
		</ul>
		<div class="nav-image">
			<img src="../images/RC_Topbanner.png">
		</div>
	</nav><!-- /c-menu slide-left -->
	<div id="c-mask" class="c-mask"></div><!-- /c-mask -->


	<div class="login-wrap">
		<div class="login-form-wrap">
			<div class="login-form">
				<h2>Log into RaveCrate</h2>
				<form>
					<input type="text" name="email" placeholder="Email" id="email" class="login-input">
					<input type="password" name="password" placeholder="Password" id="password" class="login-input">
					<button type="submit" id="login" name="button">Log In</button>
				</form>
				<div class="login-checkbox">
					<input type="checkbox" name="checkbox" class="checkbox"><label> Keep me logged in</label>
				</div>
				<div class="forgot-pw-wrap">
					<a href="#" class="forgot-pw">Forgot your password?</a>
					<a href="signup.html" class="forgot-pw">Sign Up Today!</a>
				</div>
			</div>
		</div>
		<h1 class="become-login">Become an event planner or freelancer today!</h1>
	</div>

	<footer>
		<div class="footer-links">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-1"><a href="/signup">signup</a></div>
				<div class="col-md-1"><a href="/login">login</a></div>
				<div class="col-md-1"><a href="/freelancers">freelancer</a></div>
				<div class="col-md-1"><a href="/events">events</a></div>
				<div class="col-md-1"><a href="/contact">contact us</a></div>
				<div class="col-md-1"><a href="/comingsoon">terms</a></div>
				<div class="col-md-1"><a href="/comingsoon">poicies</a></div>
				<div class="col-md-1"><a href="/about">about us</a></div>
        <div class="col-md-1"></div>
				<div class="col-md-1"></div>
			</div>
		</div>
		<div class="row bottom-footer">
			<div class="copyright col-md-6">
				<p>&copy; Copyright 2016 RaveCrate.</p>
			</div>
			<div class="social-media col-md-6">
				<a href="http://www.facebook.com/ravecrate"><i class="fa fa-facebook fa-2x"></i></a>
				<a href="http://www.instagram.com/ravecrate"><i class="fa fa-instagram fa-2x"></i></a>
				<a href="http://www.twitter.com/ravecrate"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="http://www.linkedin.com/ravecrate"><i class="fa fa-linkedin fa-2x"></i></a>
			</div>
		</div>
	</footer>
<!--/footer>

	<!--/#scripts-->
	<script type="text/javascript" src="/../js/jquery.js"></script>
	<script type="text/javascript" src="/../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/../js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/../js/jquery.nav.js"></script>
	<script type="text/javascript" src="/../js/canvas.js"></script>
	<!-- <script type="text/javascript" src="/../js/preloader.js"></script> -->
	<script type="text/javascript" src="/../js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/../js/wow.min.js"></script>
	<script type="text/javascript" src="/../js/main.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<script>
		</script>
		<script src="/../js/menu.js"></script>
		<script>
		var slideLeft = new Menu({
		wrapper: '#o-wrapper',
		type: 'slide-left',
		menuOpenerClass: '.c-button',
		maskId: '#c-mask'
		});

		var slideLeftBtn = document.querySelector('#c-button--slide-left');

		slideLeftBtn.addEventListener('click', function(e) {
		e.preventDefault;
		slideLeft.open();
		});
	</script>
	<script type="text/javascript">
	$('#login').on('click', function(e) {

    e.preventDefault();

    var userEmail = $('#email').val();
    var userPassword = $('#password').val();

		$.ajax({
			url: "http://52.41.16.214:8080/api/v2/authUser",
			method: "POST",
			crossDomain: true,
			contentType: "application/x-www-form-urlencoded; charset=utf-8",
			dataType: 'json',
			data: {email: userEmail, password: userPassword},
			beforeSend: function (xhr) {
    		xhr.setRequestHeader ("Authorization", "Basic ZGV2ZWxvcGVyLXNpZDpzcGFycm93OA==");
			},
			success: function(data) {
				console.log(JSON.stringify(data));
				console.log("Hello " + data.response.first_name);
				console.log("User successfully authenitcated!");
				// window.location='events.html'
			},
		});
		// if ( userEmail && userPassword ) {
    //         window.location='events.html'
    //     }
	});
		</script>
</body>
</html>
