<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Signup</title>

	<link href="/../css/bootstrap.min.css" rel="stylesheet">
	<link href="/../css/style.css" rel="stylesheet">

	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/../images/favicon.ico" type="image/x-icon">

	<link rel="icon" href="/../images/favicon.ico" type="image/x-icon">

</head><!--/head-->

<body class="signup-body" ng-app="app">
	<div id="o-wrapper" class="o-wrapper">
		<button id="c-button--slide-left" class="c-button"><img src="/../images/logo.png" class="c-button-img">MENU</button>
		<div class="rightlogin">
			<form class="" action="index.html" method="post">
				<input type="text" name="name" value="" placeholder="Email">
				<input type="text" name="name" value="" placeholder="Password">
				<button type="button" name="button" class="btn btn-1">sign up</button>
			</form>
			<div style="margin-top: -10px; margin-left: 170px;">
				<input type="checkbox" name="vehicle" value="Bike"><label>Remember Me</label>
				<a href="#" class="forgot">Forgot your password?</a>
			</div>

		</div>
	</div><!-- /o-wrapper -->

	<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
		<div class="close-login">
			<button class="c-menu_close">&#10005;</button>
			<a href="/login" class="nav-login">LOG IN</a>
		</div>
	<div class="nav-signup-div">
		<a href="/signup" class="nav-signup">SIGN UP</a>
	</div>
		<ul class="c-menu__items">
			<li class="c-menu__item nav-border-top"><a href="/" class="c-menu__link">HOME</a></li>
			<li class="c-menu__item"><a href="/about" class="c-menu__link">ABOUT US</a></li>
			<li class="c-menu__item"><a href="/events" class="c-menu__link">EVENTS</a></li>
			<li class="c-menu__item"><a href="/events/create" class="c-menu__link">CREATE AN EVENT</a></li>
			<li class="c-menu__item"><a href="/freelancers" class="c-menu__link">FREELANCERS</a></li>
			<li class="c-menu__item"><a href="/freelancers/signup" class="c-menu__link">BE A FREELANCER</a></li>
			<li class="c-menu__item nav-border-bottom"><a href="#" class="c-menu__link">SETTINGS</a></li>
		</ul>
		<div class="nav-image">
			<img src="../images/RC_Topbanner.png">
		</div>
	</nav><!-- /c-menu slide-left -->
	<div id="c-mask" class="c-mask"></div><!-- /c-mask -->

	<section>
		<div class="signup-container">
			<div class="row">
				<div class="col-md-6 signup-text">
					<h1>Become an event planner or freelancer today!</h1>
					<h3>Plan an event and invite your friends. <br />
							Become a freelancer for an event.
					</h3>
				</div>
				<div class="col-md-4 signup-form">
					<h3>It's free so join today!</h3>
					<form action="index.html" method="post">
						<input type="text" name="first-name" id="first-name" value="" placeholder="First Name">
						<input type="text" name="last-name" id="last-name" value="" placeholder="Last Name">
						<input type="text" name="email" id="email" value="" placeholder="Email">
						<input type="password" name="password" id="password" value="" placeholder="Password">
						<input type="password" name="confirm-password" id="confirm-password" value="" placeholder="Confirm Password">
						<a href="events.html"><button type="button" name="sign-up" id="sign-up" class="btn btn-1">sign up</button></a>
					</form>
					<p class="legal">By signing up, I agree to Rave Crate’s <a>terms of service</a>, <a>Privacy Policy</a>, and <a>cookie policy</a>.</p>
					<p class="legal">
						<a href="createevents.html">Create Page</a> for Freelancer or Event Planner.
					</p>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="footer-links">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-1"><a href="/signup">signup</a></div>
				<div class="col-md-1"><a href="/login">login</a></div>
				<div class="col-md-1"><a href="/freelancers">freelancer</a></div>
				<div class="col-md-1"><a href="/events">events</a></div>
				<div class="col-md-1"><a href="/contact">contact us</a></div>
				<div class="col-md-1"><a href="/comingsoon">terms</a></div>
				<div class="col-md-1"><a href="/comingsoon">poicies</a></div>
				<div class="col-md-1"><a href="/about">about us</a></div>
        <div class="col-md-1"></div>
				<div class="col-md-1"></div>
			</div>
		</div>
		<div class="row bottom-footer">
			<div class="copyright col-md-6">
				<p>&copy; Copyright 2016 RaveCrate.</p>
			</div>
			<div class="social-media col-md-6">
				<a href="http://www.facebook.com/ravecrate"><i class="fa fa-facebook fa-2x"></i></a>
				<a href="http://www.instagram.com/ravecrate"><i class="fa fa-instagram fa-2x"></i></a>
				<a href="http://www.twitter.com/ravecrate"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="http://www.linkedin.com/ravecrate"><i class="fa fa-linkedin fa-2x"></i></a>
			</div>
		</div>
	</footer>
<!--/footer>

	<!--/#scripts-->
	<script type="text/javascript" src="/../js/jquery.js"></script>
	<script type="text/javascript" src="/../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/../js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/../js/jquery.nav.js"></script>
	<script type="text/javascript" src="/../js/canvas.js"></script>
	<script type="text/javascript" src="/../js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/../js/wow.min.js"></script>
	<script type="text/javascript" src="/../js/main.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>
		// close = document.getElementById("close");
		// close.addEventListener('click', function() {
		// note = document.getElementById("note");
		// note.style.display = 'none';
		// }, false);
		</script>
		<script src="/../js/menu.js"></script>
		<script>
		var slideLeft = new Menu({
		wrapper: '#o-wrapper',
		type: 'slide-left',
		menuOpenerClass: '.c-button',
		maskId: '#c-mask'
		});

		var slideLeftBtn = document.querySelector('#c-button--slide-left');

		slideLeftBtn.addEventListener('click', function(e) {
		e.preventDefault;
		slideLeft.open();
		});
	</script>
	<script>
	$('#sign-up').on('click', function(e) {

    e.preventDefault();

    var signUpFirstName = $('#first-name').val();
    var signUpLastName = $('#last-name').val();
    var signUpEmail = $('#email').val();
    var signUpPassword = $('#password').val();
    var signUpConfirmPassword = $('#confirm-password').val();

		$.ajax({
			url: "http://52.41.16.214:8080/api/v2/addUser",
			method: "POST",
			crossDomain: true,
			contentType: "application/x-www-form-urlencoded; charset=utf-8",
			dataType: 'json',
			data: {first_name: signUpFirstName, last_name: signUpLastName, email: signUpEmail, password: signUpPassword, confirm_password: signUpConfirmPassword},
			beforeSend: function (xhr) {
    		xhr.setRequestHeader ("Authorization", "Basic ZGV2ZWxvcGVyLXNpZDpzcGFycm93OA==");
			},
			success: function(data) {
				console.log(JSON.stringify(data));
				console.log("success");
				// window.location='events.html'
			},
		});
		// if ( userEmail && userPassword ) {
    //         window.location='events.html'
    //     }
	});
	</script>
</body>
</html>
