ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #00adef;
  text-decoration: none;
}

/* -----------------------------------------------------------------------------
 *
 *  WRAPPER OBJECT
 *
 *----------------------------------------------------------------------------- */
.o-wrapper {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  background: rgba(0, 0, 0, 0.3);
  height: 100px;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.9);
}

/* -----------------------------------------------------------------------------
 *
 *  CONTAINER OBJECTS
 *
 *----------------------------------------------------------------------------- */
@media all and (min-width: 480px) {
  .o-container {
    padding: 0 24px;
  }
}
@media all and (min-width: 720px) {
  .o-container {
    padding: 0 48px;
  }
}
/* -----------------------------------------------------------------------------
 *
 *  HEADER OBJECT
 *
 *----------------------------------------------------------------------------- */
.o-header {
  margin: 0;
  padding: 0;
}

.o-header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #67b5d1;
}

.o-header-nav__link {
  padding: 12px;
  color: #fff;
}
.o-header-nav__link:hover {
  color: #fff;
  background-color: #00adef;
}

.o-header__title {
  margin: 24px;
  padding: 0;
  color: #818181;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

@media all and (min-width: 480px) {
  .o-header__title {
    margin: 36px;
    font-size: 42px;
  }
}
/* -----------------------------------------------------------------------------
 *
 *  MAIN OBJECT
 *
 *----------------------------------------------------------------------------- */
.o-main {
  /* */
}

/* -----------------------------------------------------------------------------
 *
 *  SUB-NAVIGATION OBJECT
 *
 *----------------------------------------------------------------------------- */
.o-sub-nav {
  margin: 0 0 24px 0;
  padding: 0;
}

.o-sub-nav__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-sub-nav__item {
  margin: 0;
  padding: 4px;
}

.o-sub-nav__link {
  display: block;
  margin: 0;
  padding: 4px 24px;
  border: solid 2px #00adef;
}
.o-sub-nav__link:hover {
  color: #fff;
  background-color: #00adef;
  left: 20px;
}

.o-sub-nav__item.active .o-sub-nav__link {
  color: #fff;
  background-color: #67b5d1;
}

@media all and (min-width: 720px) {
  .o-sub-nav {
    margin: 0 0 48px 0;
  }
}
/* -----------------------------------------------------------------------------
 *
 *  SLIDE AND PUSH MENUS COMPONENT
 *
 *----------------------------------------------------------------------------- */
/**
 * Menu overview. */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Left and right menus
 *
 * Slide and push menus coming in from the left and right inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes. */
/**
 * Common modifiers for left/right menus. */
.c-menu--slide-left {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.c-menu--slide-left .c-menu__item {
  display: block;
  text-align: center;
  border-top: solid 1px #00adef;
  border-bottom: solid 1px #00adef;
}
.c-menu--slide-left .c-menu__item:first-child {
  border-top: none;
}
.c-menu--slide-left .c-menu__item:last-child {
  border-bottom: none;
}
.c-menu--slide-left .c-menu__link {
  display: block;
  padding: 12px 24px;
}
.c-menu--slide-left .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}
.c-menu--slide-left.is-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

@media all and (min-width: 320px) {
  .c-menu--slide-left {
    width: 300px;
  }
}
/**
 * Slide/Push Menu Left. */
@media all and (min-width: 320px) {
  .c-menu--slide-left {
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}
/**
 * Wrapper states.
 *
 * Various wrapper states occur depending on if a menu is pushing into view, in
 * which case, the wrapper has to be pushed by the respective distance. */
.o-wrapper.has-push-left {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
  }
}
/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling. */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Close button resets. */
.c-menu_close {
  background-color: #000;
  float: left;
  border: #000;
  color: #fff;
}
.c-menu_close:hover {
  color: #00adef;
}

.close-login {
  padding: 20px;
}

.nav-login {
  float: right;
}

.nav-signup {
  padding: 15px 50px;
  background-color: #00adef;
  border: 1px solid #fff;
}
.nav-signup:hover {
  color: #ddd;
  border-color: #ddd;
}

.nav-signup-div {
  margin: 30px;
  margin-left: 65px;
}

/* -----------------------------------------------------------------------------
 *
 *  MASK COMPONENT
 *
 *----------------------------------------------------------------------------- */
.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* -----------------------------------------------------------------------------
 *
 *  BUTTONS
 *
 *----------------------------------------------------------------------------- */
.c-buttons {
  margin-bottom: 48px;
  text-align: center;
}

.c-button {
  display: inline-block;
  float: left;
  margin: 20px;
  margin-top: 30px;
  background: none;
  border: none;
  font-size: 20px;
}
.c-button img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.c-menu_login a {
  padding: 20px;
  padding-bottom: 40px;
}

.nav-image img {
  height: 75px;
  position: fixed;
  bottom: 0px;
  left: 20px;
  margin: 0 auto;
}

.c-menu {
  border: 3px solid #00adef;
}

.nav-border-bottom {
  border-top: solid 1px #00adef;
}

/********************
 *Note
 ******************** */
#note {
  width: 100%;
  height: 90px;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  border: solid #00adef 2px;
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
}
#note a {
  color: #fff;
}

@-webkit-keyframes #note slideDown {
  0%, 100% {
    -webkit-transform: translateY(-50px);
  }
  10%, 90% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes slideDown {
  0%, 100% {
    -moz-transform: translateY(-50px);
  }
  10%, 90% {
    -moz-transform: translateY(0px);
  }
}
.cssanimations.csstransforms #note {
  -webkit-transform: translateY(-50px);
  -webkit-animation: slideDown 2.5s 1s 1 ease forwards;
  -moz-transform: translateY(-50px);
  -moz-animation: slideDown 2.5s 1s 1 ease forwards;
}

.note-text {
  margin-top: 30px;
}

#close {
  margin-right: 40px;
  float: right;
}
#close:hover {
  color: #00adef;
  text-decoration: none;
}

#text {
  text-align: center;
  margin-left: 175px;
  padding: 15px;
  background-color: #00adef;
  border: 1px #fff solid;
}
#text:hover {
  color: #ddd;
  text-decoration: none;
  border-color: #ddd;
}

.top-banner-image {
  height: 90px;
  float: left;
  padding-left: 150px;
}

.note-items {
  display: inline;
}

.top-banner-words {
  margin-top: 15px;
}

@media (max-width: 1000px) {
  #note {
    display: none;
  }
}
/********************
 *Header
 ******************** */
#home-section {
  background-image: url(../images/RC_Photo_Main.jpg);
  background-color: #7e90a2;
  color: #fff;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.home-content {
  padding: 0;
}
.home-content h2 {
  text-transform: initial;
  font-weight: 300;
  margin-bottom: 35px;
  max-width: 400px;
  text-align: center;
}

.getstarted {
  margin: 0 auto;
  margin-top: 30%;
}
.getstarted h1 {
  background-color: rgba(0, 173, 239, 0.9);
  padding: 15px;
  margin-left: 25%;
  margin-right: 25%;
}
.getstarted a {
  color: white;
  font-size: 20px;
  left: 0;
}
.getstarted a:hover {
  color: #00adef;
}

.header-img {
  margin: auto;
  padding-top: 110px;
  float: left;
}

.learn-more {
  color: black;
  text-align-last: underline;
}

.rightlogin {
  float: right;
  text-align: center;
  margin-right: 20px;
}
.rightlogin label {
  color: white;
  font-weight: 400;
  font-size: 14px;
}
.rightlogin li {
  display: inline;
}
.rightlogin a {
  display: inline-block;
  margin-left: 20px;
  margin-top: 35px;
  font-size: 18px;
}
.rightlogin input {
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px;
}
.rightlogin .forgot {
  margin-top: 10px;
  font-size: 14px;
}

.top-bar {
  background: rgba(0, 0, 0, 0.9);
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 320px) {
  .rightlogin {
    display: none;
  }

  #home-section {
    height: auto;
    padding-bottom: 20px;
  }

  .getstarted {
    margin-top: auto;
  }
}
/*================================
 *video-section
 *================================ */
video {
  width: 100%;
  height: auto;
}

/*===============================
 *whats-special-section
 *================================ */
#whats-special {
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  margin: 0 auto;
  overflow: hidden;
  color: #555;
  border-bottom: solid;
  border-bottom-color: #bbb;
  height: 50%;
  text-align: center;
  background-color: #fff;
  font-size: 40px;
}

.special-hover p {
  margin-top: 45%;
  text-align: center;
}

.imgWrap img {
  height: 400px;
  width: 400px;
}

.special-imgs {
  padding-top: 50px;
  margin: 0 auto;
}

.special-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.imgWrap {
  position: relative;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}
.imgWrap:hover .special-hover {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1380px) {
  .imgWrap {
    height: 300px;
    width: 300px;
  }
  .imgWrap img {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 800px) {
  .imgWrap {
    height: 200px;
    width: 200px;
  }
  .imgWrap img {
    height: 200px;
    width: 200px;
  }

  #whats-special {
    padding-top: 0px;
    padding-bottom: 50px;
    font-size: 14px;
  }

  .special-hover {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 420px) {
  .imgWrap {
    height: 100px;
    width: 100px;
  }
  .imgWrap img {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 320px) {
  #whats-special, .special-hover p {
    margin-right: 10px;
  }
}
/********************
 *Freelancer
 ******************** */
#freelancers {
  background-color: #000;
  color: white;
}

#freelancer h1 {
  font-size: 15px;
  margin-bottom: 30px;
}

.freelancers-header {
  border: 3px solid #00adef;
  padding: 20px;
}

.become-a-freelancer {
  text-align: center;
  padding: 15px;
  background-color: #00adef;
  border: 1px #fff solid;
}
.become-a-freelancer:hover {
  color: #ddd;
  text-decoration: none;
  border-color: #ddd;
}

.icon-group {
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
}
.icon-group img:hover {
  opacity: 0.7;
}

.icon-group2 {
  padding-top: 40px;
}

.icon-content img {
  height: 50%;
  width: 50%;
}

/*================================
 *Discover Section
 *================================ */
#discover {
  background-image: url(../images/map.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
#discover h1 {
  color: #ddd;
  padding-bottom: 50px;
}

.discover-content {
  padding-top: 15%;
}

.container-4 {
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
}
.container-4 input#search {
  width: 300px;
  height: 50px;
  background: #fff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #000;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-4 input#search::-webkit-input-placeholder {
  color: #65737e;
}
.container-4 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}
.container-4 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}
.container-4 input#search:-ms-input-placeholder {
  color: #65737e;
}
.container-4 button.icon {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: #eee;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
.container-4 button.icon:hover button.icon, .container-4 button.icon:active button.icon, .container-4 button.icon:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -50px;
}
.container-4 button.icon:hover button.icon:hover {
  background: white;
}

/*========================
 *Footer
 *========================== */
#footer {
  position: relative;
  padding: 35px 0 25px;
  color: #fff;
}
#footer a {
  font-weight: 700;
  color: #fff;
}
#footer a:hover {
  color: #00adef;
}
#footer .footer-menu li a {
  font-weight: 400;
}
#footer .footer-menu li a:hover {
  color: #00adef;
}

footer {
  background-color: #000;
}

footer {
  bottom: 0;
  position: absolute;
}

.signup-body {
  background-image: url(../images/signup-bg.jpg);
  background-size: cover;
  position: center;
}

.signup-text {
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.signup-text h1 {
  margin-bottom: 100px;
}

button {
  color: white;
}

.signup-form {
  margin-right: 5%;
  margin-left: 5%;
  float: right;
}
.signup-form a {
  color: orange;
}
.signup-form h3 {
  text-align: center;
  color: white;
  margin-bottom: -10px;
  margin-top: 40px;
}
.signup-form input {
  border: 3px solid #00adef;
  border-radius: 50px;
  margin-top: 30px;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  font-weight: 600;
}
.signup-form input:focus {
  outline: none;
}
.signup-form ::-webkit-input-placeholder {
  color: #56d0ff;
}
.signup-form button {
  margin-top: 100px;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  border: 3px solid #fff;
  background-color: #00adef;
  color: #fff;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  font-weight: 700;
}
.signup-form button:hover {
  background-color: #fff;
  border-color: #00adef;
  color: #00adef;
}
.signup-form p {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
